.env
keys/
web/dist/*
!web/dist/.gitkeep
web/node_modules/
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
bin/
api
api.exe
coverage.out
coverage.html
*.test
mkdocs/site/
vendor/
reports/*.xml
